body {
	margin: 0 auto;
	font-family: Arial;
}

input::-moz-focus-inner { 
  border: 0; 
}

a {
   outline: 0;
}

.myclass1 {
text-align: center;
}
.myclass2 {
	text-align: right;
	}
	.myclass3 {
		text-align: center;
		}	
	  
.submit-button {
	margin-top: 20px;
	width: 280px;
}
.game-area {
	margin:0 auto;
	text-align: center;
	padding-top: 20px; 
	background: rgba(255, 223, 211, 0.5); 
 	height: 600px; /* розовая область с игрой и кнопками*/
    width: 500px;
	position: right, bottom;
}
.toparea {
	position: flex;
}
.game-options {
	border-bottom: 1px dashed #CFCFCF;
	padding-bottom: 20px;
	display: flex;
}
.game-options select, .game-options input  {
	border: 1px solid #333;
	padding: 10px;
	margin-right: 10px;
	outline: none;
}
.game-board {
	margin-top: 10px;
	padding: 10px
}

.grid-box, .green-player, .red-player {
	font-size: 35px;
	padding: 5px 5px;
	width: 50px;
	height: 50px;
	margin:0px;
	background-color: #FCFCFC;
	outline: none;
}
.green-player {
	background-color: green;
	color: #FFF;
}
.red-player {
	background-color: red;
	color: #FFF;
}

.score-card {
	font-weight: bold;
	line-height: 25px;
	background-color: rgba(255, 223, 211, 0.5); 
}
.score-card span {
	font-weight: normal;
}