.container {
  border-radius: 0.25em;
  border: 1px solid black;
  cursor: pointer;
  display: inline-block;
  font-size: 3.5vw;
  padding: 0.5em;
  transition: 1s;
  user-select: none;

  &:hover {
    background-color: black;
    color: white;
  }
}
