body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 50px;
}

#board {
    width: 200px;
    height: 200px;

    background-color: #FDEED9;
    border: 2px solid #C6D8FF;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 45px;
    height: 45px;
    border: 2px solid #C6D8FF;

    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
    background-color: #FFFADD;
    color: #727371;
}

.x4 {
    background-color: #FED6BC;
    color: #727371;
}

.x8 {
    background-color: #f8b081;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}