################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/yukawaii.github.io/FileContentIndex

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
