body {
    background-color: #000000;
    margin: 0px;
    overflow: hidden;
    font-style: 'Arial';
}

#info {
    position: absolute;
    top: 0px;
    width: 100%;
    color: #ffffff;
    padding: 5px;
    font-family: Monospace;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

a {
    color: #ffffff;
}

  /* have fun! */
  button {
    cursor:pointer;
    position: absolute;
    bottom: 10%;
    left: 20px;
    text-align: center;
    z-index: 1000;
    display:flex;
    position: absolute;
  }