body{
    background-color: #20A39E;
    font-family: 'PT Sans Narrow', sans-serif;
    line-height: 1.5;
    font-size: 13px;
    color: #080808;
    letter-spacing: 0.2px;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* start of grid */

#content {
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    grid-template-rows: 50px 75px 100px 100px 75px;
    grid-column-gap: 5px;
}

/* row 1 heaer */
h1 {
    grid-column: 1 / 5;
    background-color: #C3FBD8;
    font-family: 'Luckiest Guy', cursive;
    width: 100%;
    font-size: 40px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    padding-top: 35px;
    margin: -30px;
    padding-bottom: -10px;
}

/* row 2 sub header */
#message-area {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    margin: 0px 0px;
    color: #B5F2EA;;
    background-color: #F6FFF8;
    width: 90%;
    margin-left: -10px;
    margin-right: -10px;
    padding-right: 20px;
    padding-left: 20px;
  max-height: 65px;
}

#message-area #message {
    background-color:  #B5F2EA;
    padding: 1px;
    width: 400px;
    margin: 0 0;
    margin-bottom: 0px;
    text-align: center;
    border-radius: 5px;
}


/* row 3 stats */
#target-area {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: #FFFADD;
    text-align: center;
    border: 2px solid #B5F2EA;;
    border-radius: 3px;
    padding: 5px;
    margin: 0px;
}

#wins-losses {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    text-align: center;
    background-color: #FFFADD;
    text-align: center;
    border: 2px solid  #B5F2EA;
    border-radius: 3px;
    padding: 5px;
    line-height: 1.25;
}

#added-area {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: center;
    background-color: #F6FFF8;
    text-align: center;
    border: 2px solid  #2E294E;
    border-radius: 3px;
    color:  #2E294E;
    padding: 10px;
}

#total-area {
    grid-column: 3/ 4;
    grid-row: 3 / 4;
    background-color: #F6FFF8;
    text-align: center;
    border: 2px solid  #2E294E;
    border-radius: 3px;
    color:  #2E294E;
    padding: 10px;
}

/* row 4 fruit */

#blackberry {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-top:2px;
    padding-left: 10px;
}

#grapefruit {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    padding-top:5px;
}

#banana {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    padding-top:5px;
}

#pomegranate {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    padding-top:1px;
    padding-right: 15px;
}

/* row 6 instructions */

#instructions {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    background-color:  #B5F2EA;
    color: #0f0f0f;
    padding: 2px;
    border: 5px solid #fda1a1;
    margin-top: 0%;
    font-size: 20px;
}

/* fruit size */
.fruit {
    height: 100px;
    width: 100px;
}

/* font sizes for stats */
.fruit:hover {
    opacity: .7;
}

#target-number {
    font-size: 50px;
}

#your-total {
    font-size: 50px;
}

#added {
    font-size: 25px;
}

#wins {
    font-size: 25px;
}

#losses {
  
    font-size: 25px;
}

/* media queries */
@media only screen and (max-width: 924px) {
    .fruit {
        height: 150px;
        width: 150px;
    }
}

@media only screen and (max-width: 915px) {
    .fruit {
        height: 100px;
        width: 100px;
    }

    #content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100px 75px 120px 150px 75px;
        grid-column-gap: 5px;
    }

}
@media only screen and (max-width: 600px) {
    h1 {
        font-size: 23px;
    }

    #content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100px 75px 120px 100px 75px;
        grid-column-gap: 5px;
    }

    #message-area #message {
        background-color:  #B5F2EA;
        padding: 14px;
        width: 400px;
        margin: 0 auto;
        margin-bottom: 0px;
        text-align: center;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 480px) {
    h1 {
        font-size: 35px;
    }

    #content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100px 75px 140px 100px 75px;
        grid-column-gap: 5px;
    }

    #message-area {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        margin: 0 auto;
        color: #0c0c0c;;
        background-color: #B5F2EA;
        width: 105%;
        margin-left: -10px;
        margin-right: -10px;
        padding-right: 15px;
        padding: 8px;
        padding-top: 3px;
    }

    #message-area #message {
        background-color:  #f7e6b9;
        padding-bottom: -15px;
        margin: 0 auto;
        margin-bottom: -10px;
        text-align: center;
        border-radius: 5px;
    }

    .fruit {
        height: 75px;
        width: 75px;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 373px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 30px;
        width: 94%;
    }

    #content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100px 75px 140px 100px 75px;
        grid-column-gap: 0px;
    }

    #message-area {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        margin: 0 auto;
        color: #0e0d0d;;
        background-color: #FDEED9;
        width: 100%;
        margin-left: -10px;
        margin-right: -10px;
        padding-right: 15px;
        padding: 8px;
        padding-top: 3px;
    }

    #message-area #message {
        background-color:  #FFFADD;
        padding-bottom: -15px;
        margin: 0 auto;
        margin-bottom: -10px;
        text-align: center;
        border-radius: 5px;
        width: 90%;
    }

    .fruit {
        height: 60px;
        width: 60px;
        padding-top: 20px;
    }
}

@media only screen and (max-width: 329px) {
    #content {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 120px 75px 140px 100px 75px;
        grid-column-gap: 0px;
    }

}  