/* RGB */
$color1: rgba(39, 39, 39, 1);
$color2: rgba(254, 215, 102, 1);
$color3: rgba(73, 147, 130, 1);
$color4: rgba(255, 255, 255, 1);
$color5: rgba(93, 87, 107, 1);



// glossy grape
$color1: #A88FAC;
//pine something...
$color2: #58B09C;
// wintergreen dream
$color3: #499382;




//TURTLE COLORS
//turtle dark green
$color1: #3C7317;
//turtle lighter green
$color2: #5C9238;
//turtle light green
$color3: #78B354;
